<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        tools:targetApi="31">
        <activity
            android:name=".Fragment.Content_Booking_Fragment.ListRoom"
            android:exported="false" />
        <activity
            android:name=".Fragment.Content_Booking_Fragment.HotelDetails"
            android:exported="false" />
        <activity
            android:name=".Login.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Login.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".Login.Login"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Fragment.Content_Account_Fragment.Content_Terms_Privacy.Terms_PrivacyPolicy"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".Fragment.Content_Account_Fragment.ChangeLanguage"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>